*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin
*.zip
*.log
temp*
*.apk
*.mkv
*.mp4
*.ass
*.epub
*.ttc
scratch/
scratch*
AndroidLiquidGlass-kmp/
liquid-dom-master/
temp_backdrop_ext/
流程.txt

